{% extends "debt_manager/base_general.html" %}
{% load debt_manager_extras %}
{% block content %}
    {% if current_user_creditors %}
    <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Debts amount</th>
            </tr>
            {% for creditor in current_user_creditors %}
                <tr>
                    <td><a href="{{ creditor.get_absolute_url }}">{{ forloop.counter }}</a></td>
                    <td><a href="{{ creditor.get_absolute_url }}">{{ creditor.name }}</a></td>
                    <td><a href="{{ creditor.get_absolute_url }}">{{ creditor.surname }}</a></td>
                    <td><a href="{{ creditor.get_absolute_url }}">{{ creditor.amount }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
    <h2>There is no creditors!</h2>
    {% endif %}
{% endblock %}