{% extends "debt_manager/base_generic.html" %}
{% load debt_manager_extras %}
{% block content %}
    {% if creditors_list %}
    <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Debts amount</th>
            </tr>
            {% for creditor in creditors_list %}
                <tr>
                    <td><a href="{{ creditor.get_absolute_url }}">{{ forloop.counter }}</a></td>
                    <td><a href="{{ creditor.get_absolute_url }}">{{ creditor.user.first_name }}</a></td>
                    <td><a href="{{ creditor.get_absolute_url }}">{{ creditor.user.last_name }}</a></td>
                    <td><a href="{{ creditor.get_absolute_url }}">{{ charges_sums|get_item:creditor.id }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
    <h2>There is no creditors!</h2>
    {% endif %}
{% endblock %}