{% extends "debt_manager/base_generic.html" %}

{% block content %}
    {% if debts_list %}
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Whom?</th>
            <th>How many?</th>
            <th>For what?</th>
            <th>Date</th>
        </tr>
        {% for debts in users_debt_list %}
            <tr>
                <td><a href="{{ debts.get_absolute_url }}">{{ forloop.counter }}</a></td>
                <td><a href="{{ debts.creditor.get_absolute_url }}">{{ debts.creditor.first_name}} {{ debts.creditor.last_name }}</a></td>
                <td><a href="{{ debts.get_absolute_url }}">{{ debts.amount }}</a></td>
                <td><a href="{{ debts.get_absolute_url }}">{{ debts.for_what }}</a></td>
                <td><a href="{{ debts.get_absolute_url }}">{{ debts.date }}</a></td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <h2>There is no debts!</h2>
    {% endif %}
{% endblock %}