{% extends "debt_manager/base_general.html" %}
{% load debt_manager_extras %}
{% block content %}
    {% if debtors_list %}
    <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Debts amount</th>
            </tr>
            {% for debtor in current_user_debtors %}
                <tr>
                    <td><a href="{{ debtor.get_absolute_url }}">{{ forloop.counter }}</a></td>
                    <td><a href="{{ debtor.get_absolute_url }}">{{ debtor.name }}</a></td>
                    <td><a href="{{ debtor.get_absolute_url }}">{{ debtor.surname }}</a></td>
                    <td><a href="{{ debtor.get_absolute_url }}">{{ debtor.amount }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>There is no debtors!</h2>
    {% endif %}
{% endblock %}