{% extends "debt_manager/base_generic.html" %}

{% block content %}

    {% if form.errors %}
        <p>Username or password didn't match!</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>
                Your account doesn't have access to this page. 
                To proceed, please login with an account that has access.
            </p>
        {% else %}
            <p>Login to page.</p>
        {% endif %}
    {% endif %}
    <div class="container">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        {{ form.username.label_tag }}
                    </td>
                    <td>
                        {{ form.username }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.password.label_tag }}
                    </td>
                    <td>
                        {{ form.password }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="btn btn-dark btn-sm" type="submit" value="Login" />
                        <input type="hidden" name="next" value="{{ next }}" />
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <!-- Information about custom authentication forms -->
    <!-- https://wsvincent.com/django-user-authentication-tutorial-login-and-logout/ -->
    <!-- <form role="form" class="form-horizontal" method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
        <div class="form-group">
            {% for field in form %}
                <div class="input-group">
                    <span class="input-group-addon" style="background-color:#b77b48; color:white"><span class="glyphicon glyphicon-user"></span></span>
                    <input class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" value="{{ field.value }}" type="text" /> 
                    {{ field.errors }}
                </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form> -->

{% endblock %}